{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="single">
	<img class="single" src="{{ entry.micrograph_path }}" alt={{ entry.micrograph_path }} title={{ entry.micrograph_path }}>
  </div>
  <div class="about">
  <h2>Micrograph {{ entry.micrograph_id }}</h2>
  <em>Added by <b>{{ author.username }}</b> ({{ author.email }})</em><br>
  on {{ entry.upload_date }} <br>
  <br>
  <em>Annealing condition:</em> {{ entry.annealing_condition|safe }}<br>
  <em>Primary microconstituent: </em> {{ entry.microconstituent }}<br>
  <a href={{ entry.url|safe }} target="blank_">Link to original</a>
  </div>
</div>
{% endblock %}
  
