{% extends "layout.html" %}
{% block head %}
      <link
       href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css"
       rel="stylesheet" type="text/css">
      <link
       href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.3.min.css"
       rel="stylesheet" type="text/css">

      <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
      <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.3.min.js"></script>
{% endblock %}
{% block body %}
  <div class="bk-root">
      {{ bokeh_script|safe }}
    </div>
    <div class=page>
      {{ div | safe }}
      <img src='static/legend.png'>
      <img src='static/metadata_legends.png' style="max-height: 400px; max-width: 400px;">
    </div>
  </body>
{% endblock %}
